The test: divide.test.js tested the divide.js file.
It revealed that the functions always return one because the divider is divided by itself (result is always one).